<!-- <!doctype html>
<html lang='en'>
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <!-- load Bootstrap -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous'></script>  
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

        <title>Cosplay Central</title>

</head>
<!--Repository link (https://github.com/illustrae/cosplayproject.git)-->
<body>
    <div class='main2'>
        <nav class='navbar justify-content-between'>
            <a class='navbar-brand'>COSPLAY CENTRAL</a>


        </nav> 
        <div class = 'createProfile' id='createProfile'>
            <h2> Edit {{user.username}} Profile </h2>
                {% csrf_token %}
            <div class='form'>
                <label class='location' for='location'> Location: </label>
                <input name='location' id='location' class='form-control'>
            </div>    
            <div class='form'>
                <label class='age' for='age'> Age: </label>
                <input name='age' id='age' class='form-control'>
            </div>
            <div class='form'>
                <label class='fav_character' for='fav_character'> Fav Character: </label>
                <input name='fav_character' id='fav_character' class='form-control'>
            </div>
            <div class='form'>
                <label class='about_me' for='about_me'> About Me: </label>
                <input name='about_me' id='about_me' type='textarea' class='form-control'>
            </div>
        </div>
            <div class='editBtn'>
            <button class='btn btn-outline-light' id='editBtn' type='submit'> Submit </button></div>
        </form>

    <div><a href='/userProfile/'>User Profile</a></div>

</body>
    <div class='footer'><footer> Copyright 2021 </footer></div>
</html> -->
