{% extends 'base.html' %}
{% block content %}

<div class = 'createProfile' id='createProfile'>
    <h2> Edit {{user.username}}'s' Profile </h2>

        <form action = '/editProfile/{{user.id}}/updateProfile' method='POST' enctype='multipart/form-data'>
            {% csrf_token %}
        <section>
            <label for='location'> Location </label>
            <input type='location' name='location' id='location' value='{{user.profile.location}}'>
        </section>
        <section>
            <label for='favorite'> Favorite Character: </label>
            <input type='text' name='favorite' id='favorite' value='{{user.profile.favorite}}'>
        </section>
        <section>
            <label for='about'> About Me </label>
            <input type='text' name='about' id='about' value='{{user.profile.about}}'>
        </section>
        <section>
            <label for='image'> Profile Photo: </label>
            <input name='image' id='image' type='file' class='form-control'>
        </section>
        </div>
        <button id='btn' type='submit'> Update </button>
    </form>
</div>

    <div><a href='/userProfile/'>User Profile</a></div>

</div>

{% endblock content %}