{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class='container col-lg-12' id='container2'>
    <div class='row mx-auto' id='secondRow'>
        <div class='col-lg-4 justify-content-between' id='news3'>
            <h1 class='news1'></h1>


<!-- start sw-rss-feed code --> 
<script type="text/javascript"> 
    <!-- 
    rssfeed_url = new Array(); 
    rssfeed_url[0]="https://www.reddit.com/r/animenews/.rss";  
    rssfeed_frame_width="300"; 
    rssfeed_frame_height="600"; 
    rssfeed_scroll="off"; 
    rssfeed_scroll_step="6"; 
    rssfeed_scroll_bar="auto"; 
    rssfeed_target="_blank"; 
    rssfeed_font_size="12"; 
    rssfeed_font_face="poppins"; 
    rssfeed_border="off"; 
    rssfeed_css_url=""; 
    rssfeed_title="on"; 
    rssfeed_title_name=""; 
    rssfeed_title_bgcolor="#5f0612"; 
    rssfeed_title_color="#fff"; 
    rssfeed_title_bgimage=""; 
    rssfeed_footer="off"; 
    rssfeed_footer_name="rss feed"; 
    rssfeed_footer_bgcolor="#fff"; 
    rssfeed_footer_color="#333"; 
    rssfeed_footer_bgimage=""; 
    rssfeed_item_title_length="50"; 
    rssfeed_item_title_color="#666"; 
    rssfeed_item_bgcolor="#gold"; 
    rssfeed_item_bgimage=""; 
    rssfeed_item_border_bottom="off"; 
    rssfeed_item_source_icon="off"; 
    rssfeed_item_date="off"; 
    rssfeed_item_description="on"; 
    rssfeed_item_description_length="250"; 
    rssfeed_item_description_color="#666"; 
    rssfeed_item_description_link_color="#333"; 
    rssfeed_item_description_tag="on"; 
    rssfeed_no_items="0"; 
    rssfeed_cache = "eb624115a6ec750be44da2c5c72d673a"; 
    //--> 
    </script> 
    <script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script> 
    <!-- The link below helps keep this service FREE, and helps other people find the SW widget. Please be cool and keep it! Thanks. --> 
    <div style="color:#ccc;font-size:10px; text-align:right; width:230px;">powered by <a href="https://surfing-waves.com" rel="noopener" target="_blank" style="color:#ccc;">Surfing Waves</a></div> 
    <!-- end sw-rss-feed code -->
            </div>

            <div class='col-lg-2 justify-content-between' id='news3'>
                <h1 class='news1'></h1>
    
    
    <!-- start sw-rss-feed code --> 
<script type="text/javascript"> 
    <!-- 
    rssfeed_url = new Array(); 
    rssfeed_url[0]="https://www.reddit.com/r/animenews/.rss";  
    rssfeed_frame_width="300"; 
    rssfeed_frame_height="300"; 
    rssfeed_scroll="off"; 
    rssfeed_scroll_step="6"; 
    rssfeed_scroll_bar="on"; 
    rssfeed_target="_blank"; 
    rssfeed_font_size="12"; 
    rssfeed_font_face="poppins"; 
    rssfeed_border="off"; 
    rssfeed_css_url=""; 
    rssfeed_title="on"; 
    rssfeed_title_name=""; 
    rssfeed_title_bgcolor="#5f0612"; 
    rssfeed_title_color="#fff"; 
    rssfeed_title_bgimage=""; 
    rssfeed_footer="off"; 
    rssfeed_footer_name="rss feed"; 
    rssfeed_footer_bgcolor="#fff"; 
    rssfeed_footer_color="#333"; 
    rssfeed_footer_bgimage=""; 
    rssfeed_item_title_length="50"; 
    rssfeed_item_title_color="#666"; 
    rssfeed_item_bgcolor="#gold"; 
    rssfeed_item_bgimage=""; 
    rssfeed_item_border_bottom="off"; 
    rssfeed_item_source_icon="off"; 
    rssfeed_item_date="off"; 
    rssfeed_item_description="on"; 
    rssfeed_item_description_length="250"; 
    rssfeed_item_description_color="#666"; 
    rssfeed_item_description_link_color="#333"; 
    rssfeed_item_description_tag="on"; 
    rssfeed_no_items="0"; 
    rssfeed_cache = "eb624115a6ec750be44da2c5c72d673a"; 
    //--> 
    </script> 
    <script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script> 
    <!-- The link below helps keep this service FREE, and helps other people find the SW widget. Please be cool and keep it! Thanks. --> 
    <div style="color:#ccc;font-size:10px; text-align:right; width:230px;">powered by <a href="https://surfing-waves.com" rel="noopener" target="_blank" style="color:#ccc;">Surfing Waves</a></div> 
    <!-- end sw-rss-feed code -->
                </div>
        </div>
    </div>        

{% endblock content %}
