{% extends 'base.html' %}
{% block content %}


<div class='mainWall' id='mainWall'>
        <h2 id='forWall'>The Board</h2>
        <!-- Post a message input form top of page-->
        <form action='/wall' method=POST id='wall1'>
        {% csrf_token %}
        <textarea rows='5' type="text" label='Write' name='mess' id='wallP'>Write a message..</textarea>
        <input type="submit" value="Post" id='postbtn'>
        </form>


<div id="posts">
    {% for post in messages reversed %}
        <div class='one_post'>
        <p class='post'>{{post.message}}</p>
        </div>
        <div id='posted1'>
            <p class='poster' style='text-align:left;'>{{post.user_likes.count}} <a href='/like/{{post.id}}'> Like </a>
                <span style='float:right;font-size:12px;'>
                    posted by: <a href='/userProfile/{{post.poster.id}}'> {{post.poster.username}} </a>
                </span>   
            </p>

    <!-- comments -->
<div id='comments1'>
    {% for comment in post.post_comments.all %}
        <p class='comments2'style='padding-left:15px;'> {{comment.comment}}</p>
        <p class='comments3' style='text-align:right;font-size:12px'> comment by: <a href='/userProfile/{{post.poster.id}}'>{{comment.poster.username}}</a></p> 
        <a href="/delete/{{comment.id}}">Delete</a>
    {% endfor %}
</div>

<!-- comment post form -->
<div id='comments4'>
    <form action='/add_comment/{{post.id}}' method=POST id='wall2'>
    {% csrf_token %}
    <textarea rows='2' type='text' name='comment' id='commentP'>Leave a comment</textarea>
    <input type='submit' value='submit' id='commentbtn'>
            </form>

        </div>
    {% endfor %}
</div>



{% endblock content %}
