{% extends 'base.html' %}
{% block content %}

<div>
    <div class = 'userProfile' id='userProfile'>
        <h2> {{ user.username }} </h2>
        <div class='media'>
            <img class='rounded-circle account-img' src='{{ user.profile.image.url }}'>
        </div>
        <h6>Location: {{ user.profile.location }}</h6>
        <h6>Fav Character: {{ user.profile.favorite}}</h6>
        <h6>About Me: {{ user.profile.about}}</h6>
    </div>
    <div><a href='/editProfile/'>Edit Profile </a></div>
</div>


{% endblock content %}
