@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&dislay=swap');
/* login and navbar area */
* {
    color: white;
    background-color: #140038;
    font-family: Poppins;
}
.navbar, .container {
    background-color: #140038;

}
.footer footer {
    text-align: center;
    padding: 5px;
    padding-top: 45px;

}
.main label {
    font-size: 14px;
    display: inline;
    padding-right: 10px;
}
.registration {
    display: inline-flexbox;
    margin: auto;
    width: 50%;
}
h2 {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main2 label {
    font-size: 12px;
    margin-top: 10px;
}
.term, .regbtn {
    display: flex;
    justify-content: center;
    align-content: space-around;
    margin-top: 10px;
    font-size: 14px;
/* Dashboard nav and card */
}
.rounded-circle {
    max-width:50%;
    height: auto;
}
.wrap {

    display: flex;
    width: 100%;
    border-style: solid;
}
#firstRow {
    width: 100%;
    display: flexbox;
    align-content: justify;
}
#secondRow {
    width: 100%;
    margin-top: 2rem;
    border-style: solid;
}
#cosUser {
    border-style: solid;
    margin: 1rem;
    display: inline-flex;
    
}
#news, #newDay {
    border-style: solid;
}
#newDayImage {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.imageNew {
    width: 75%;
    height: auto;
}
