@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&dislay=swap');

* {
    color: white;
    background-color: #140038;
}
.navbar {
    background-color: #140038;
}
.footer footer {
    text-align: center;
    padding: 5px;
    padding-top: 45px;

}
.main label {
    font-size: 14px;
    display: inline;
    padding-right: 10px;
}
.registration {
    display: inline-flexbox;
    margin: auto;
    width: 50%;
}
h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main2 label {
    font-size: 12px;
    margin-top: 10px;
}
.term, .regbtn {
    display: flex;
    justify-content: center;
    align-content: space-around;
    margin-top: 10px;
    font-size: 14px;


}