@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&dislay=swap');
/* login and navbar area */
* {
    color: white;
    background-color: #140038;
    font-family: Poppins;
}
.navbar, .container {
    background-color: #140038;

}
.footer footer {
    text-align: center;
    padding: 5px;
    padding-top: 45px;

}
.main label {
    font-size: 14px;
    display: inline;
    padding-right: 10px;
}
.registration {
    display: inline-flexbox;
    margin: auto;
    width: 50%;
}
h2 {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main2 label {
    font-size: 12px;
    margin-top: 10px;
}
.term, .regbtn {
    display: flex;
    justify-content: center;
    align-content: space-around;
    margin-top: 10px;
    font-size: 14px;

}
.rounded-circle {
    width: 58px;
    height: 58px;
}
header {
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: gold;
    font-weight: 600;
}
/* Dashboard divs */

.wrap {

    display: flex;
    width: 100%;
}
#firstRow {
    width: 100%;
    display: flexbox;
    align-content: justify;
}
#secondRow {
    width: 100%;
    margin-top: 2rem;
}
#cosUser {
    border-style: solid;
    border-width: thin;
    border-color: #ffffff1f;
    margin: 1rem;
    display: inline-flex;
    
}
#news, #newDay {
    border-style: solid;
    border-width: thin;
    border-color: #ffffff1f;
    background-color: #0f002c;
    margin-left: 2rem;
}
#newDayImage {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    background-color: #0f002c;
}
.imageNew {
    width: 50%;
    height: auto;
}
.news1 {
    display: flex;
    margin-top: 1rem;
}
.jumbotron {
    margin-top: 4rem;
    background-color: rgba(138, 0, 46, 0.795);
}